*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: auto;
    width: 1500px;
}
h1{
    text-align: center;
    padding: 15px;
}

#article_containt{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

article{
    background: #4df;
    height: 10rem;
}
footer{
    background: #4df;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 2rem;
}